<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
  <a class="navbar-brand" routerLink='/home'>My App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
      </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink='/home'><i class="fa fa-home" aria-hidden="true"></i>Home </a>
      </li>
      <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink='/dashboard'><i class="fa fa-table" aria-hidden="true"></i>Dashboard</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" routerLink='#'><i class="fa fa-user" aria-hidden="true"></i>
          Account </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='#'><i class="fa fa-pencil" aria-hidden="true"></i>
          Blog </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='#'><i class="fa fa-sign-in" aria-hidden="true"></i>
          Log In </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='#'><i class="fa fa-sign-out" aria-hidden="true"></i>
          Log Out </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='#'><i class="fa fa-plus" aria-hidden="true"></i>
          Register </a>
      </li>
    </ul>

  </div>
</nav>
